version: '3.8'

services:
  web:
    build: .
    container_name: django_app
    command: sh -c "sleep 15 && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/usr/src/app
    ports:
      - "3000:8000"
    env_file:
      - .env